In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from manager import Manager

In [3]:
m = Manager()

In [4]:
m.find_experiments_from_file("examples")

In [5]:
m.experiments

[test_sklearn_alg(name='simple_lr', model_type=<class 'sklearn.linear_model._logistic.LogisticRegression'>, n=1, balanced=True, test_percent=1, seed=1),
 test_sklearn_alg(name='simple_rf', model_type=<class 'sklearn.ensemble._forest.RandomForestClassifier'>, n=1, balanced=1, test_percent=1, seed=2),
 test_sklearn_alg(name='simple_lr_unbalanced', model_type=<class 'sklearn.ensemble._forest.RandomForestClassifier'>, n=1, balanced=1, test_percent=1, seed=3),
 compare_algs(name='compare_all', alg_experiments=[test_sklearn_alg(name='simple_lr', model_type=<class 'sklearn.linear_model._logistic.LogisticRegression'>, n=1, balanced=True, test_percent=1, seed=1), test_sklearn_alg(name='simple_rf', model_type=<class 'sklearn.ensemble._forest.RandomForestClassifier'>, n=1, balanced=1, test_percent=1, seed=2), test_sklearn_alg(name='simple_lr_unbalanced', model_type=<class 'sklearn.ensemble._forest.RandomForestClassifier'>, n=1, balanced=1, test_percent=1, seed=3)])]

In [7]:
m.experiments[0].run()

Running experiment simple_lr
Checking artifact cache status for stage test_model
Executing stage test_model

Artifact 'score': 1.0

In [8]:
with m.db_connection() as db:
    s = db.sql("select * from cf_runs").df()
s

,id,reference,experiment_name,run_number,start_time,end_time,succeeded,commit,dirty,hostname,user,notes
0,6a0637fa-323e-4889-b89d-75b32eb27bd9,simple_lr_1_2025-11-25-T152746,simple_lr,1,2025-11-25 15:27:46.833373,2025-11-25 15:27:46.898483,<NA>,None,<NA>,None,None,None
1,1ce8a27d-92c5-4a5d-9656-45874e3caabb,simple_lr_2_2025-11-25-T152810,simple_lr,2,2025-11-25 15:28:10.246129,2025-11-25 15:28:10.282579,<NA>,None,<NA>,None,None,None
2,64dba10e-b72b-4925-b12d-129f7d2e8d34,simple_lr_3_2025-11-25-T153402,simple_lr,3,2025-11-25 15:34:02.532207,2025-11-25 15:34:02.569073,<NA>,None,<NA>,None,None,None
3,56374ee8-5eca-4bcd-b6fe-6a404bd8e7da,simple_lr_4_2025-11-25-T160715,simple_lr,4,2025-11-25 16:07:15.148848,2025-11-25 16:07:15.189198,<NA>,None,<NA>,None,None,None
4,337f6c0c-e760-4813-8ebb-42bc3de6ac39,simple_lr_5_2025-11-25-T165054,simple_lr,5,2025-11-25 16:50:54.956358,2025-11-25 16:50:55.013377,<NA>,None,<NA>,None,None,None
5,303491ae-3233-4db8-982c-10f285f2247f,simple_lr_6_2025-11-25-T165128,simple_lr,6,2025-11-25 16:51:28.394112,2025-11-25 16:51:28.423693,<NA>,None,<NA>,None,None,None